<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Menu</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/menu.css">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
  <!-- Nav bar -->
  <% include ./partials/_navbar %>
  <div class="cart-visible">
    <button id="cart-button" type="button" class="btn btn-default btn-md">
    </button>
    <i class="fa fa-shopping-cart" aria-hidden="true"> 5</i>
  </div>

  <div class="container">
    <div class="row">

      <% locals.products.forEach((product) => {%>
        <div id="item-details"class="col-lg-4 col-md-6 col-sm-12 item" data-id="<%= product.id %>" data-name="<%= product.name %>" data-price="<%= product.price %>">
          <div class="add-subtract-items">
            <p data-price=≈>
              <%= product['price'] %>
            </p>
            <p>Add to Cart: </p>
            <button class="add-item" type="button" class="btn btn-default btn-md">+</button>
            <button class="subtract-item" type="button" class="btn btn-default btn-md">–</button>
          </div>
          <a href="#">
            <img class="img-responsive" src=<%= product['image_url'] %>>
          </a>
          <h3>
            <%= product['name'] %>
          </h3>
          <p><%= product['description'] %></p>
        </div>
      <%}); %>



  </div>

  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </body>
</html>
